@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-graphik;
    }

    input {
        @apply font-lato
    }
}

@layer components {
    .form-input {
        @apply rounded-full border-0 placeholder:text-xl placeholder:text-gray-100 font-semibold w-3/4 py-4 pl-10 focus:outline-0 focus:ring-2 focus:ring-gray-300 focus-visible:outline-0 text-gray-300 text-xl bg-white duration-300
    }
    .nav-link-header {
        @apply relative text-app-red font-inter font-[500] text-base after:content-[''] after:duration-300 after:absolute after:bg-app-red after:left-0 after:bottom-0 after:h-0.5 hover:after:w-full after:duration-300 after:w-0
    }
    .nav-link-header__active {
        @apply relative text-app-red font-inter font-[500] text-base after:content-[''] after:duration-300 after:absolute after:bg-app-red after:left-0 after:bottom-0 after:h-0.5 after:w-full
    }
}

@font-face {
    font-family: 'Code7x5';
    src: url("assets/fonts/Code_7x5.ttf");
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Regular-Trial.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Medium-Trial.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Semibold-Trial.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Bold-Trial.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Thin.ttf');
    font-weight: 400;
}


